<h3>Olá {{client.name}}</h3>
<p>O combinado foi que você poderia escolher {{tab.downloadLimit}} fotos para baixar em alta resolução</p>
<p>Nesta tela ainda você pode marcar as fotos que você deseja imprimir, basta clicar em 'enviar pedido para impressão abaixo'</p>
<mat-card *ngFor="let photo of tab.photos">
    <img mat-card-image [src]="photo.path" [alt]="photo.file_name" />
    <mat-card-actions>
      <button
        mat-button
        (click)="setPrint(photo.id)"
        matTooltip="Marcar foto para impressão"
        aria-label="Botão para marcar foto para impressão"
      >
        <mat-icon [color]="photo.print ? 'accent' : 'primary'">print</mat-icon>
      </button>
      <button
        mat-button
        (click)="setDownload(photo.id)"
        matTooltip="Adicionar no pacote de download esta foto"
        aria-label="Botão para adicionar esta foto no pacote de download"
      >
        <mat-icon [color]="photo.downloaded ? 'accent' : 'primary'">download</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
  <button mat-button (click)="download()" [disabled]="downloadCounter !== tab.downloadLimit">Baixar as fotos em alta resolução <mat-icon>download</mat-icon></button> {{downloadCounter}}/{{tab.downloadLimit}} Fotos selecionadas
  <button mat-button (click)="print()">Fazer pedido de impressão <mat-icon>print</mat-icon></button>
  <h3 *ngIf="printClicked">Você fez o pedido de {{printCount}} fotos para impressão</h3>
