<form [formGroup]="newPasswordForm">
    <mat-form-field appearance="fill">
        <mat-label>Email cadastrado:</mat-label>
        <input matInput id="emailInput" type="email" [formControlName]="emailFC">
        <mat-error *ngIf="newPasswordForm.get(emailFC).errors?.['required']">Campo obrigatório</mat-error>
        <mat-error *ngIf="newPasswordForm.get(emailFC).errors?.['email']">Favor inserir um e-mail válido</mat-error>
        <mat-error *ngIf="unregisteredEmail">Email não cadastrado</mat-error>
    </mat-form-field>
    <button mat-button type="button" disabled="newPassWordForm.invalid" (click)="newPassword()">Recuperar senha</button>
</form>

<h1 *ngIf="sent">Uma nova senha foi enviado para o seu o email!</h1>